body {
  background-color: rgb(254,210,209);
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 70px 70px;
}

h1{
  font-family: "pacifico", cursive;
  font-size: 40px;
  text-align: center;
}

#message{
  font-family: sans-serif;
  font-size: 20px;
}

table, td{
  margin: auto;
  border: 2px outset;
  margin-top: 30px;
  background-color: #FEE8E8;
  background-size: 10px 10px;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
  font-family: verdana;
}

#link{
  font-size: 20px;
  text-align: center;
  display:block;
  margin-top: 20px;
}
